body {
    margin: 0;
}

.section1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #aee9fb, #dea5f1, #7bc2ff);
    background-size: 300% 300%; 
    animation: moveGradient 5s ease-in-out infinite;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%; 
    }
    50% {
        background-position: 100% 50%; 
    }
    100% {
        background-position: 0% 50%; 
    }
}

.typewriter {
    overflow: hidden;
    border-right: 2px solid black;
    white-space: nowrap;
    width: 0;
    font-size: 2rem;
    animation: typewriter 5s steps(30, end) forwards;
}

@keyframes typewriter {
    0% {
        width:0;
    }
    100% {
        width: 100%;
    }
}

.box1 {
    padding: 0; 
    text-align: center;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    min-height: 200px; 
    padding: 50px 50px; 
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
}

h1 {
    font-size: 3.1rem;
}

p {
    font-size: 1.8rem;
}

.section2 {
    height: 60vh;
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    text-align: center;
}

.box2 {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
}

.icon {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    width: 50px;
    height: 50px;
    text-decoration: none;
}

.section3 {
    height: 100vh;
    display: flex;
    justify-content: center;
}

h2 {
    margin: 0;
    text-align: center;
    font-size: 2.7rem;
    font-family: "Arial", "sans-serif";
}

@media screen and (max-width: 768px) {
    .box1 {
        padding: 30px; 
        min-height: auto
    }
    
    h1 {
        font-size: 2.1rem;
    }
    
    p {
        font-size: 1.4rem;
    }

    .typewriter {
        font-size: 1.5rem;
    }

    .icon {
        width: 40px;
        height: 40px;
    }

    .box2 {
        margin: 10px 0; /* Adjust box margin */
    }

    h2 {
        font-size: 2rem;
    }

    .section1 {
        min-height: 80vh;
    }
    
    .section2, .section3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        height: 100vh;
    }
}